<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="number 1">
    <input type="text" name="num2" placeholder="number 2">
    <input type="submit">
</form>

<form action ="sub/" method="get">
      <input type="text" name="num3" placeholder="number3">
      <input type="text" name="num4" placeholder="number4">
      <input type="submit">
  </form>

<form action="mult/" method="get">
    <input type="text" name="num5" placeholder="number5">
    <input type="text" name="num6" placeholder="number6">
    <input type="submit">
      </form>

<form  action="divi/" method="get">
    <input type="text" name="num7" placeholder="number7">
    <input type="text" name="num8" placeholder="number8">
    <input type="submit">
  </form>
</body>
</html>